/** {
    outline: 1px solid red !important;
}*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.5em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*--------------------Header--------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 1em .5em;
  background: linear-gradient(rgb(56, 56, 64), rgba(85, 90, 109, 0.5));
  background-position: center;
  color: #ffffff;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

i {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
}

h1 {
  font-size: 185%;
  text-align: center;
  margin: 0 auto;
  line-height: 1em;
}

.headerLink:hover {
  color: #ffffff;
  opacity: .9;
}

main {
  display: flex;
  flex-wrap: wrap;
}

header, main, .mainNavPanel, .content, .subNavPanel, footer {
  width: 100%;
}

/*--------------------Responsive Nav Styling--------------------*/

.drawer {
  width: 250px;
  position: absolute;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #55586b;
}

.mainNavLink {
  display: block;
}

.mainNavLink:hover {
  color: #2da246;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  min-width: 48px;
  min-height: 48px;
  outline: none;
}

a:hover {
  color: #34355a;
}

/*--------------------Content section--------------------*/

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1em;
  color: #5a5050;
}

h2 {
  font-size: 125%;
  text-align: center;
  margin-top: 1em;
  color: #34355a;
  width: 100%;
}

.image {
  width: 100%;
}

.profile {
  width: 9rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

h3 {
  font-size: 100%;
  margin-right: auto;
  margin-left: 1.6em;
  margin-bottom: 0;
}

h4 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #34355a;
}

.midPageHeader {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  padding: 0 1em;
  max-width: 65ch;
  margin-top: .5em;
  margin-bottom: .5em;
}

p.story {
  text-indent: 1.5em;
}

/*--------------------Sub Nav Section--------------------*/

.subNavPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding: 1em 0;
  color: #ffffff;
  background-color: #34355a;
  line-height: 1.5em;
}

.subNavHeader {
  margin-bottom: 1em;
  color: #ffffff;
}

.subNavSubHeader {
  width: 100%;
  font-size: 100%;
  text-align: center;
  color: #fb7725;
  margin: 0;
}

.related {
  list-style-type: none;
}

.relatedLi {
  margin-left: 0;
}

.subNavLink {
  display: block;
  text-align: center;
  font-size: 90%;
}

.subNavLink:hover {
  color: #b2cde0;
}

small {
  display: block;
  text-align: center;
}

/*--------------------Footer--------------------*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgb(56, 56, 64), rgba(85, 90, 109, 0.5));
  min-height: 75px;
  text-align: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: #ffffff;
  font-size: 90%;
}

.footerNav {
  width: 100%;
  margin-top: 1em;
}

.footerNavLink {
  display: inline-block;
}

.footerNavLink:hover {
  color: #34355a;
}

.social {
  margin-top: 1em;
}

.icon {
  font-size: 150%;
}

.copyValidators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  padding-right: 1em;
}

.validatorLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.validatorImage {
  width: 4rem;
  max-width: 100%;
}

.copyright {
  margin: 1em 0 1em 1em;
}

/*--------------------Resume styles--------------------*/

.summary {
  font-style: italic;
  text-align: center;
}

.academic, .teaching, .service, .profesional, .international, .tech, .dissertation {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  padding: 0 1em;
}

.otherSkills {
  width: 100%;
  padding-left: 1em;
}

@media screen and (min-width: 700px) {
  .otherSkills {
    padding-left: 0;
  }

  .skills {
    display: inline-block;
    width: 300px;
  }

  .skills::before {
    content: "\2022";
    margin-right: .5em;
    font-size: 1.3em;
    vertical-align: middle;
  }
}

.project {
  margin-bottom: 0;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-left: 2em;
  width: 55%;
}

.projectLink {
  color: #1a83b9;
  padding: 10px 10px 10px 0;
}

.projectTitle {
  width: 30%;
  flex-basis: 100%;
}

.sectionHeader {
  margin: 1em 0 1em 1em;
  padding-bottom: .25em;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #9799a2;
}

.section, .sectionHeader {
  color: #5a5050;
}

.dates {
  width: 30%;
  padding-left: .1em;
}

.degreeInst, .certifications {
  margin-left: 2em;
  width: 55%;
}

.degree, .institution, .city, .duties, .advisor {
  display: block;
}

.description, .institution  {
  width: 100%;
  max-width: 55ch;
}

.degree, .title {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 1em;
}

.link {
  list-style-type: none;
  margin-left: 0;
}

.dissTitle {
  font-style: italic;
}

.url {
  color: #1a83b9;
  word-wrap: break-word;
}

.link::before {
  content: "Url:";
}

/*--------------------Contact page--------------------*/

form {
  width: 100%;
  margin-top: 1em;
  padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin-bottom: 1em;
}
.formGroup, button {
  min-height: 30px;
}

label {
  width: 125px;
}

input {
  border: 1px solid #717169;
}

input, .received, .emailError {
  border-radius: .25rem;
}

.received {
  width: 100%;
  margin-bottom: .5em;
  padding: .5em;
  background-color: #bfdcb3;
  color: #4e7b4e;
}

.emailError {
  margin-left: 125px;
  padding-left: .5em;
}

.emailError {
  background-color: #e69d9d;
  color: #c13f3d;
}

textarea {
  resize: vertical;
}

input, textarea, .emailError {
  width: calc(100% - 125px);
  max-width: 425px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #172b5c;
  width: 75px;
  border: none;
  border-radius: 3px;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
}











